@import '../constant.scss';

.tool.layout {
  
  .tabs {
    position: fixed;
    z-index: 10000;
    left: 0;
    top: 0;
    width: 100%;
    height: 44px;
    background-color: #ffffff;

    &:after {
      content: "";
      display: block;
      clear: both;
    }

    .tab {
      background-color: #ffffff;
      padding-top: 4px;
      float: left;
      font-size: 16px;

      &.active {
        border-bottom: 2px solid $color-main-highlight;
      }
    }
  }

  .tools.list {
    padding: 0px;
    margin-top: 44px;
  }

  .spinner-container {
    position: relative;
    width: 100%;
    height: 600px;
  }

}