@import '../constant.scss';

.tool.layout {

  .total.transactions {
    width: calc(100% - 40px);
    max-width: 640px;
    text-align: center;
    font-size: 15px;
    padding: 20px 10px;
    margin: 0px 10px 0px 10px;
    background-color: #F5F7FA;
    border: 1px solid #EFF4F9;
    border-radius: 12px;
  }

  .transactions.list {
    width: 100%;
    border-collapse: collapse;
    font-size: 16px;
    max-width: 640px;
    margin: 0 auto;
    box-sizing: border-box;

    tbody {
      display: table-row-group;
      vertical-align: top;
    }

    tr {
      border-bottom: 1px solid rgba(0,0,0,0.03);
    }

    td {
      text-align: left;
      line-height: 20px;

      &:first-child {
        text-align: left;
        width: 50px;
        position: relative;
        padding: 16px 0 16px 20px;

        .asset-icon {
          width: 40px;
          height: 40px;
        }
    
        .chain-icon {
          position: absolute;
          z-index: 0;
          margin-top: 30px;
          left: 18px;
          width: 8px;
          height: 8px;
          vertical-align: middle;
          border-radius: 8px;
          border: 1px solid white;
        }
      }

      &:nth-child(2) {
        padding: 16px 0 16px 4px;
        font-weight: 500;
      }

      .symbol {
        font-size: 14px;
      }

      .change {
        color: #29BE73;
      }

      .red {
        color: #F67070;
      }

      .description {
        font-size: 14px;
        font-weight: 400;
        color: #9B9B9B;
      }
    }


  }
}