$font-main-content: 'Maven Pro', sans-serif;
$font-main-title: 'Roboto', sans-serif;
$font-main-mono: 'Roboto Mono', monospace;

$color-main-background: #FFFFFF;
$color-main-foreground-dark: #000000;
$color-main-foreground-light: #333333;
$color-main-highlight: #007AFF;

$color-side-bid: #00B56E;
$color-side-bid-light: #127B57;
$color-side-ask: #E55541;
$color-side-ask-light: #824243;

.tabs {
    background: $color-main-background;
    display: flex;
    font-size: 14px;
    line-height: 32px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 48px;
}
  
.tab {
    flex: 1;
    width: 50%;
    box-sizing: border-box;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
    border-bottom: 2px solid rgba(0,0,0,0.1);
    color: $color-main-foreground-light;

    &.active {
        border-bottom: 2px solid $color-main-highlight;
    }
}